
html, body {
  scroll-behavior: smooth;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


:root {
  --main-color: #10cab7;
  --secondary-color: #395360;
}

.special-heading {
  color: white;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #575757;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Header */
.header {
  padding: 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 70px;
}

.header .links {
  position: relative;
}

.header .links .icon {
  display: flex;
  flex-wrap: wrap;
  width: 30px;
  justify-content: end;
}

.header .links .icon:hover span:nth-child(2) {
  width: 70%;
}

.header .links .icon:hover span:nth-child(3) {
  width: 40%;
}

.header .links .icon span {
  background-color: black;
  margin-bottom: 5px;
  height: 3px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 100%;
  transition: 0.3s;
}
.header .links .icon span:last-child {
  width: 100%;
  transition: 0.3s;
}

.header .links ul {
  list-style: none;

  margin: 0;
  padding: 0;
  position: absolute;
  background-color: var(--secondary-color);
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}

.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}

.header .links:hover ul {
  display: block;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}
.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #cecece;
}

.landing {
  background-image: url(../Images/pexels-pixabay-355747.jpg);
  background-size: cover;
  height: calc(80vh - 68px);
  position: relative;
}

.landing .intro-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 400px;
  max-width: 100%;
}

.landing .intro-text h1 {
  margin-bottom: 50px;
  color: var(--main-color);
  font-weight: bold;
  font-size: 55.43px;
}

.landing .intro-text p {
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: bold;
  line-height: 1.8;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.features .feat {
  padding: 20px;
  text-align: center;
}

.features .feat i {
  color: var(--main-color);
  margin-bottom: 30px;
}

.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p {
  color: var(--secondary-color);
  line-height: 1.6;
  font-size: 17px;
  font-weight: 300;
}

.services {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 80px;
}

.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}

.services .services-content .content {
  display: flex;
  margin-top: 30px;
}

@media (max-width: 767px) {
  .services .services-content .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.services .services-content .content i {
  color: var(--main-color);
  flex-basis: 60px;
}

.services .services-content .content .text {
  flex: 1;
}
.services .services-content .content .text h3 {
  margin: 0 0 20px;
}
.services .services-content .content .text p {
  color: var(--secondary-color);
  font-weight: 300;
  line-height: 1.6;
}

.services .services-content .column .image {
  text-align: center;
  position: relative;
}
.services .services-content .column .image::before {
  content: "";
  background-color: var(--secondary-color);
  width: 100px;
  height: 100%;
  top: 50px;
  position: absolute;
  right: 20px;

  z-index: -1;
}
.services .services-content .column .image img {
  width: 260px;
  margin-top: 150px;
}
@media (max-width: 1199px) {
  .image-column {
    display: none;
  }
}

.portfilio {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 80px;
}

.portfilio .portfilio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 80px;
}
.portfilio .portfilio-content .card {
  background-color: white;
  display: grid;
  gap: 30px;
}

.portfilio .portfilio-content .card img {
  max-width: 100%;
}

.portfilio .portfilio-content .card .info {
  padding: 20px;
}

.portfilio .portfilio-content .card .info h3 {
  margin: 0px;
}
.portfilio .portfilio-content .card .info p {
  color: var(--secondary-color);
  font-weight: 300;
  line-height: 1.6;
}
@media (max-width: 767px) {
  .portfilio .portfilio-content .card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.about {
  padding-top: 60px;
  padding-bottom: 120px;
  margin-top: 80px;
}

.about .about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}
.about .about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}
@media (max-width: 991px) {
  .about .about-content .image {
    margin: 0 auto 0px;
  }
}
.about .about-content .image::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}
.about .about-content .image::after {
  top: -15px;
  content: "";
  position: absolute;
  width: 120px;
  height: 185px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  right: -160px;
}
@media (max-width: 991px) {
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }
}
.about .about-content .image img {
  max-width: 100%;
}

.about .about-content .text {
  flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
  color: #1f2021;
}

.about .about-content .text hr {
  width: 50%;
  margin-right: 350px;
  border: none; /* يشيل الخط */
  height: 2px; /* سمك الخط اللي هتلونه */
  background-color: var(--main-color);
}
.about .about-content .text p:last-of-type {
  line-height: 2;
  margin-bottom: 50px;
  color: var(--secondary-color);
}

.contact {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 80px;
}
.contact .info {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.contact .info .lable {
  font-weight: 800;
  font-size: 30px;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.contact .info .link {
  display: block;
  font-weight: 800;
  font-size: 30px;
  color: var(--main-color);
  text-decoration: none;
}

.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.contact .info .social p {
  margin: 0;
  color: var(--secondary-color);
}

.contact .info .social i {
  margin-left: 5px;
  color: var(--secondary-color);
}

.footer {
  background-color: #2c4755;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer p {
  color: white;
  margin: 0;
}
.footer p span {
  color: var(--main-color);
  font-weight: bold;
}
